Sharing DMARC records

DMARC policy should be shared at the other world so that domain owners can know if someone is abusing their domain.

We won't be sharing domain keys. If the sending gateway removes the ARC Seals and DKIM signatures from the message, then we don't need the keys at the receiving gateway.

I don't think that DMARC records should be shared across discrete DNSes.

One reason I thought DMARC policies would be helpful was that it would let email senders know if their domains were being abused in off-world Internets. But for that benefit to materialize, wouldn't we need to synchronize DMARC policies of all domains, and not just the ones that had email sent to the other world? But trying to sync so many records is a non-starter, so this doesn't seem to be a good selling point.

The main benefit of DMARC is that senders can get feedback about their authentication deployment and receivers get to check alignment. But both of these benefits are using the SPF and DKIM records in the remote world DNS. If there's a problem with authentication in the local world, it would have been noticed at the sending gateway. The DMARC alignment test and aggregate / forensic reports will be specific to the authentication deployment of the remote world. If the SPF and DKIM records aren't controlled by the domain owner (suppose they rely on the remote world's gateway to set that up correctly), then what's the point of sending reports to the domain owner?

The complexity of trying to bring along DMARC policies is also daunting:
* If the `rua` or `ruf` has a different organizational domain than that of the DMARC policy, then you'd need to also send the policy from the other _report._dmarc domain described in RFC7489 Section 7.1. 
* Should the DMARC policy be removed from the authoritative server in the remote world after the TTL expires?
* Suppose message A is sent out with a DMARC policy and it gets stuck on a node for a while. Then message B is sent (with the same organizational domain in the RFC5322.From address as message A) with a different DMARC policy, and message B arrives at the destination and has its DMARC policy published. Then message A finally arrives at the destination some time later. Should the current DMARC policy be replaced with the one brought by message A? (Answer here is likely "no", but now you need to keep track of when a DMARC policy was retrieved)
* Suppose a message was sent and it has a subdomain specific DMARC policy. This bundle gets stuck in transit for a while. Another message gets sent, and at this point, the subdomain specific policy has been removed so we instead send the parent domain's DMARC policy. This policy gets published first in the remote world. Then the bundle that got stuck finally arrives. Should we publish the subdomain specific DMARC policy? But at this point, this subdomain specific DMARC policy isn't valid anymore — you should be using the parent domain policy. How could the receiving end know that the subdomain specific policy isn't valid?
* When using `nsupdate` to update DNS records, my understanding is that it'll take at least 15 minutes to update the records at the authoritative server (at least with BIND, see https://www.isc.org/docs/2021bindwebinar_4.pdf page 31). So should the receiving gateway wait until the DMARC policy is updated before submitting the message?



